.container {
max-width: 1128px; 
margin: 0 auto; 
}
.back-link {
margin-bottom: 48px;
}
.gallery {
display: flex;
flex-wrap: wrap;
gap: 24px;
row-gap: 48px;
}
.gallery-item {
width: calc((100%-24px) / 2)
}
.picture {
}